// /r/KotakuInAction CSS v0.1 by spooc
$version: "1.0";

$production: false !default !global;

@function asset_url($asset_id, $extension) {
  @if ($production == true) {
    @return '%%' + $asset_id + '%%';
  } @else {
    @return 'assets/' + $asset_id + '.' + $extension;
  }
}

// ********* Assets. ********* //
$asset_comment: asset_url('comment', 'png');
$asset_comment_nm: asset_url('comment-nm', 'png');
$asset_nm_sun: asset_url('icon-nm-sun', 'png');
$asset_nm_moon: asset_url('icon-nm-moon', 'png');
$asset_icon_main_cntrv: asset_url('icon-main-cntrv', 'png');
$asset_icon_main_glided: asset_url('icon-main-glided', 'png');
$asset_icon_main_hot: asset_url('icon-main-hot', 'png');
$asset_icon_main_new: asset_url('icon-main-new', 'png');
$asset_icon_main_rising: asset_url('icon-main-rising', 'png');
$asset_icon_main_top: asset_url('icon-main-top', 'png');
$asset_logo: asset_url('logo', 'png');
$asset_texture: asset_url('texture', 'png');
$asset_vivian_search: asset_url('vivian-search', 'png');
$asset_vivian_night: asset_url('vivian-night', 'png');
$asset_vote_up: asset_url('vote-up', 'png');
$asset_vote_down: asset_url('vote-down', 'png');

// ********* Typography configuration. ********* //
$font-size-focus: 12px;   // General font size for text that should be in focus.
$font-size-blur: 10px;    // Small font size for text that should not be in focus
                          // and is very likely to not be interesting for user.
$font-size-btn: 14px;     // Button font sizes.

// ********* Color configuration. ********* //
$color-focus-fill: #fff;
$color-focus-fill2: #f8f8f8;
$color-focus-fill3: #ccc;
$color-focus-bg: #f8f8f8;
$color-focus-fg: #333;
$color-focus-border: #e2e2e2;

$color-blur-bg: #333;
$color-blur-fg: #aaa;
$color-blur-border: #aaa;

$color-alert-fg: #f33;

$color-upvote: #33b515;
$color-downvote: #8e1dc9;

$nm-brightness: 70%;
$nm-general-opacity: $nm-brightness / 100%;
$nm-darken-factor: 100% - $nm-brightness;

@function nm_darken($color, $factor:100%) {
  @return darken($color, $nm-darken-factor * ($factor / 100%));
}

$nm-link-color: #90e8da;
$nm-link-color-visited: #dd90ef;

// ********* Size configuration. ********* //
$full_min_width: 800px;   // Minimum width screen we support without scrollbar.
$left-gutter-width: 60px; // The left gutter is where the upvotes and downvotes are.
                          // This is the first clear "column" in the grid.

$srarea-height: 18px;     // Subreddit area height. The first row.
$logoarea-height: 90px;   // Logo area height. The second row.
$logoarea-vpadding: 7px;  // How much vertical paddning there should be around the logo.

$linkbar-height: 30px;    // Linkbar area height. The third row.
$linkbar-top: ($srarea-height + $logoarea-height);

$sidebar-padding: 10px;
$sidebar-inner-width: 300px;
$sidebar-top: ($linkbar-top + $linkbar-height);
$sidebar-width: ($sidebar-padding * 2 + $sidebar-inner-width);

$tabmenu-inner-height: 30px;
$tabmenu-pad: 7px;
$tabmenu-height: ($tabmenu-pad + $tabmenu-inner-height + $tabmenu-pad);
$tabmenu-min-width: ($full_min_width - $sidebar-width);
$tabmenu-tag-filter-btn-width: 105px; // First button in tabmenu.

// ********* Tag color configuration. ********* //
$tag_color_unverified: #e01919;
$tag_color_rumor: #000000;
$tag_color_verified: #25c819;
$tag_color_people: #1a80ed;
$tag_color_happenings: #ed871a;
$tag_color_ideas: #828282;
$tag_color_goal: #aa10de;
$tag_color_editorial: #dbc200;
$tag_color_meta: #088a85;
$tag_color_drama: #ff24c8;
$tag_color_humor: #543e00;
$tag_color_showerthought: #3be0f2;
$tag_color_discussion: #1c9328;
$tag_color_off_topic: #5600bf;
$tag_color_ethics: #9e0000;
$tag_color_industry: #b1af9c;

$side_header_color: #888;
$side_header_font_size: 16px;

@mixin reset-box {
  display: block;
  position: static;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
}

@mixin reset-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
}

@mixin font-focus {
  @include reset-text;
  color: $color-focus-fg;
  font-size: $font-size-focus;

  html[lang*='nm'] & {
    color: nm_darken($color-focus-fill);
  }
}

@mixin font-blur {
  @include reset-text;
  color: $color-blur-fg;
  font-size: $font-size-blur;

  html[lang*='nm'] & {
    color: nm_darken($color-focus-fill3);
  }
}

@mixin font-form-field {
  @include font-focus;
  color: $color-focus-fg;
  font-size: $font-size-btn;
}

@mixin focus-fill {
  background-color: $color-focus-fill;
  html[lang*='nm'] & {
    background-color: darken($color-focus-fill, 85%);
  }
}

@mixin focus-fill2 {
  background-color: $color-focus-fill2;
  html[lang*='nm'] & {
    background-color: darken($color-focus-fill2, 85%);
  }
}

@mixin focus-fill3 {
  background-color: $color-focus-fill3;
  html[lang*='nm'] & {
    background-color: darken($color-focus-fill3, 85%);
  }
}


@mixin focus {
  @include focus-fill;
  color: $color-focus-fg;
  font-size: $font-size-focus;

  html[lang*='nm'] & {
    color: nm_darken($color-focus-fill);
    border-color: darken($color-focus-border, 83%);
  }
}

@mixin focus-box {
  border: 1px solid $color-focus-border;
  @include focus;
}

@mixin form-field-box {
    @include focus-box;
    border-width: 3px;
    border-radius: 5px;

    border-color: $color-focus-fill3;
    html[lang*='nm'] & {
      background-color: darken($color-focus-fill3, 85%);
    }
}


@mixin focus-bg {
  background-color: $color-focus-bg;
  html[lang*='nm'] & {
    background-color: darken($color-focus-bg, 85%);
  }
}

@mixin blur {
  color: $color-blur-fg;
  border-color: $color-blur-border;
  font-size: $font-size-blur;

  html[lang*='nm'] & {
    color: nm_darken($color-blur-fg);
    border-color: darken($color-blur-border, 50%);
  }
}

@mixin nm-low-opacity {
  html[lang*='nm'] & {
    opacity: $nm-general-opacity;
  }
}

// Mixin for reddit site content.
// We tone this content down with dark colors to remove distractions.
@mixin reddit-site {
  @include reset-text;
  @include blur;
  background-color: $color-blur-bg;
  html[lang*='nm'] & {
    background-color: darken($color-focus-bg, 90%);
  }
}

@mixin reddit-srarea {
  @include reddit-site;
  @include font-blur;
  line-height: $srarea-height;
}

// Bootstrap flat button.
$btn-border: 1px;
$btn-padding: 12px;
@mixin btn {
  display: inline-block;
  padding: ($btn-padding / 2) $btn-padding;
  margin-bottom: 0;
  font-size: $font-size-btn;
  font-weight: normal;
  height: auto;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: $btn-border solid transparent;
  border-radius: 4px;
}


@mixin button-variant-raw($fg, $bg, $bd) {

  // Important for RES.
  color: $fg !important;
  background-color: $bg;
  border-color: $bd;

  &:focus,
  &.focus {
    background-color: darken($bg, 10%);
        border-color: darken($bd, 25%);
  }
  &:hover {
    background-color: darken($bg, 10%);
        border-color: darken($bd, 12%);
  }
  &:active & {
    background-color: darken($bg, 10%);
        border-color: darken($bd, 12%);
  }
}

@mixin button-variant-nmc($fg, $bg, $bd, $fgo, $bgo, $bdo) {
  @include button-variant-raw($fg, $bg, $bd);
  html[lang*='nm'] & {
    @include button-variant-raw(nm_darken($fg, $fgo), nm_darken($bg, $bgo), nm_darken($bd, $bdo));
  }
}


@mixin button-variant($fg, $bg, $bd) {
  @include button-variant-nmc($fg, $bg, $bd, 45%, 25%, 20%);
}

// Bootstrap flat default button.
@mixin btn-default {
  @include btn;
  @include button-variant-nmc(#333, #fff, #ccc, 100%, 75%, 60%);

  html[lang*='nm'] & {
    @include button-variant-nmc(#b3b3b3, #1f1f1f, #000, 100%, 75%, 60%);
  }
}

// Bootstrap flat primary button.
@mixin btn-primary {
  @include btn;
  @include button-variant(#fff, #7a33b7, #6d2ea4);
}

// Bootstrap flat success button.
@mixin btn-success {
  @include btn;
  @include button-variant(#fff, #5cb85c, #4cae4c);
}

// Bootstrap btn-sm.
@mixin btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

@mixin big-sidebar-btn {
  width: (300px - 12 * 2);
  font-size: 16px;
  height: 29px;
  background-image: none;
  line-height: 29px;
}

// Brute force hiding of text.
@mixin hide-text {
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
}

@mixin icon-tabmenu-custom($icon_url) {
  position: relative;
  padding: 0px;
  display: inline-block;
  width: $tabmenu-inner-height - $btn-border * 2;
  height: $tabmenu-inner-height - $btn-border * 2;

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url($icon_url);
    background-repeat: no-repeat;
    background-size: $tabmenu-inner-height - $btn-border * 8;
    background-position: ($btn-border * 3) ($btn-border * 3);
    @include nm-low-opacity;
  }
}

@mixin icon-tabmenu($icon_url) {
  @include hide-text;
  @include icon-tabmenu-custom($icon_url);
}

@-webkit-keyframes show_on_100 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show_on_100 {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin tooltip($text) {
  position: relative;

  &:after {
    content: $text;
    text-transform: none;
    padding: 2px;
    display: none;
    position: absolute;
    top: 105%;
    left: 25%;
    width: auto;
    color: $color-focus-fg;
    font-size: $font-size-focus;
    line-height: $font-size-focus;
    font-weight: normal;
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
  &:hover:after {
    display: inline-block;

    -webkit-animation: show_on_100 0.4s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: show_on_100 0.4s forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

// Standard link flairs have fixed lengths.
@mixin std-link-flair($color) {
  background-color: $color;
  color: $color-focus-fill;
  text-align: center;
  width: 70px;

  html[lang*='nm'] & {
    color: nm_darken($color-focus-fill);
    background-color: nm_darken($color, 100%);
    border-color: nm_darken($color-focus-fill3);
  }
}

@mixin content-title {
  /*
  > a:first-child {
    // Has no category yet, show temporary flair.
    &::before {
      @include std-link-flair(#b0b0b0);
      font-size: 10px;
      content: 'NO TAG';
      opacity: .2;
      color: #000;
      position: relative;
      top: -.25em;
    }
  }*/
  @at-root .linkflairlabel {
    @include focus-box;
    @include focus-fill2;

    font-size: 10px;
    position: relative;
    top: .3em;

    display: inline-block;
    padding: 1px;
    height: 12px;
    max-height: 15px;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin-right: 5px;

    &[title=UNVERIFIED] {
      @include std-link-flair($tag_color_unverified);
    }
    &[title=RUMOR] {
      @include std-link-flair($tag_color_rumor);
    }
    &[title=VERIFIED] {
      @include std-link-flair($tag_color_verified);
    }
    &[title=PEOPLE] {
      @include std-link-flair($tag_color_people);
    }
    &[title=HAPPENINGS] {
      @include std-link-flair($tag_color_happenings);
    }
    &[title=IDEAS] {
      @include std-link-flair($tag_color_ideas);
    }
    &[title=GOAL] {
      @include std-link-flair($tag_color_goal);
    }
    &[title=EDITORIAL] {
      @include std-link-flair($tag_color_editorial);
    }
    &[title=META] {
      @include std-link-flair($tag_color_meta);
    }
    &[title=DRAMA] {
      @include std-link-flair($tag_color_drama);
    }
    &[title=HUMOR] {
      @include std-link-flair($tag_color_humor);
    }
    &[title=SHOWERTHOUGHT] {
      @include showerthought-flair;
    }
    &[title=DISCUSSION] {
      @include std-link-flair($tag_color_discussion);
    }
    &[title=OFF-TOPIC] {
      @include std-link-flair($tag_color_off_topic);
    }
    &[title=ETHICS] {
      @include std-link-flair($tag_color_ethics);
    }
    &[title=INDUSTRY] {
      @include std-link-flair($tag_color_industry);
    }
  }
}

// This flair has hack that shortens the excessive length.
@mixin showerthought-flair {
  @include std-link-flair($tag_color_showerthought);

  // Tag is too long, shorten it.
  max-width: none;
  font-size: 0px;
  &::after {
    content: 'SHOWERTH.';
    font-size: 10px;
  }
}

@mixin box-shadow($x, $y, $br, $sr, $color) {
  -webkit-box-shadow: $x $y $br $sr $color;
  -moz-box-shadow: $x $y $br $sr $color;
  box-shadow: $x $y $br $sr $color;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin main-box-shadow {
  @include box-shadow(-10px, 15px, 15px, 0px, rgba(0, 0, 0, 0.4));
}

// Nightmode hacks.
html[lang*='nm'] {
  // !important because of RES.
  a, .thing .title a {
    color: nm_darken($nm-link-color) !important;
  }
  a:visited, .thing.visited .title a {
    color: nm_darken($nm-link-color-visited) !important;
  }
  // RES overrides.
  .RES-keyNav-activeElement {
    background-color: #373737 !important;

    .title a {
      color: #fff !important;
    }
  }

  // Just lower opacity of things that is to tedius to adjust color of.
  .midcol > div, div.expando-button,
  div.thing p.title a:first-child::before {
    opacity: $nm-general-opacity;
  }
}

// General upvote/downvote style.
.midcol {
  > .score.likes {
    color: $color-upvote;
  }
  > .score.dislikes {
    color: $color-downvote;
  }
  div.upmod {
    background-image: url($asset_vote_up);
    background-position: 0px 0px;
  }
  div.downmod {
    background-image: url($asset_vote_down);
    background-position: 0px 0px;
  }
}

// General thing style.
div.thing {
  div.entry {
    > p.title {
      > span.domain {
        @include font-blur;
        a {
          @include font-blur;
        }
      }
    }
    > p.tagline {
      @include font-blur;
    }
    // Make action list much more compact.
    > ul.flat-list {
      font-size: 0px;
      li {
        padding: 0px;
        @include font-blur;
        a {
          @include font-blur;
        }
        &:nth-child(n + 2) {
          padding-left: 6px;
        }
      }
      a {
        padding: 0px;
      }
      // Highlight comments link.
      a.comments {
        @include font-focus;
      }
      // Highlight reply link.
      a[onclick^='return reply'] {
        @include font-focus;
      }
    }
  }

  p.title {
    overflow: visible;
  }
}

// Reset weird coloring rule in reddit stylesheet.
.titlebox h1 a {color: #0079d3;}

// General markdown style.
div.md {
  @include font-focus;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin: 0.25em 0;
    text-transform: uppercase;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: .5em;
  }

  .-lists, ul, ol {
    padding-left: 2em;
  }

  html[lang*='nm'] & {

    blockquote, del {
      color: nm_darken(#ccc);
    }

    code, pre {
      color: nm_darken(#eee);
      background-color: nm_darken(#878787);
      border-color: black;
    }
  }
}

// Markdown editor style.
html.res {
}

// This fixes some issues with reddit companion.
html {
	position: relative;
}

// Header image and area.
#header {
  background-color: transparent;
  border: none;
  // The header pushes the main content and sidebar down under the tabmenu with bottom margin.
  // The reason why the height is not used is because it would otherwise cover the search field.
  // The sidebar is then pushed up the same distance with the magic of negative margins
  // to place itself to the right of the tabmenu.
  margin-bottom: $sidebar-top + $tabmenu-height;
  height: 0px;
  // Fixes sr dropdown under filter by tag, etc.
  z-index: 10000;

  #sr-header-area {
    @include reddit-srarea;
    a, span {
      @include reddit-srarea;
    }
    div.sr-list, div.srdrop span {
      line-height: $srarea-height;
    }
  }
}

#header-bottom-left {
  // We cannot let this element cover the entire page as it would otherwise cover the search
  // field in lower resolutions, so we make it the maximum possible size instead.
  width: ($tabmenu-min-width - $left-gutter-width);
  height: $logoarea-height;
  margin-left: $left-gutter-width;
  line-height: 0px;

  // Hide the element actually intended for the subreddit logo
  // as it links to reddit front page instead of the subreddit.
  > #header-img-a, > #header-img {
    display: none;
  }

  // The reddit name element is used for the logo.
  // An logo asset is used instead which should be changed at will, manually.
  > span.redditname {
    display: block;
    margin: 0px;

    // We hide the text.
    font-size: 0px;

    > a {
      display: block;
      height: $logoarea-height;
      width: $tabmenu-min-width;

      // Show the logo instead. Scale it to a height that fills the entire logo area height.
      background-image: url($asset_logo);
      background-repeat: no-repeat;
      background-position: 0px $logoarea-vpadding;
      background-size: auto ($logoarea-height - $logoarea-vpadding * 2);
      background-color: transparent;
      @include nm-low-opacity;
    }
  }

  // Main tabmenu. On the listing page this contains (hot, new, rising...) buttons.
  // But they can contain any kind of buttons, RES will inject new as well.
  ul.tabmenu {
    position: absolute;
    display: block;
    background-color: transparent;
    top: $sidebar-top;
    right: $sidebar-width;
    // Leave room on the left for gutter and filter button.
    // We place the filter button on the left so new buttons can be added here by RES.
    left: ($left-gutter-width + $tabmenu-tag-filter-btn-width + $sidebar-padding + $tabmenu-inner-height + $tabmenu_pad);
    height: $tabmenu-inner-height;
    margin: 0px;
    padding: $tabmenu-pad;
    // It's tempting to use overflow hidden here to prevent tabmenu content from leaking if too many
    // buttons is inserted (e.g. RES) and screen is too small, but this will break tooltips.
    // We need to prevent this in some other way...
    overflow: visible;

    // Required to prevent space between li to add extra margin.
    font-size: 0px;

    li {
      font-weight: normal;
      display: inline-block;
      margin: 0px $tabmenu-pad 0px 0px;
      text-transform: capitalize;
    }
    li a {
      @include btn-primary;
    }
    li.selected a {
      @extend a:active;
    }
    body.listing-page &, body.wiki-page & {
      li:nth-child(1) {
        a {
          @include icon-tabmenu($asset_icon_main_hot);
        }
        @include tooltip('Display hot (popular) links.');
      }
      li:nth-child(2) {
        a {
          @include icon-tabmenu($asset_icon_main_new);
        }
        @include tooltip('Display new links. Support /r/KotakuInAction by selecting the next featured content.');
      }
      li:nth-child(3) {
        a {
          @include icon-tabmenu($asset_icon_main_rising);
        }
        @include tooltip('Display rising links.');
      }
      li:nth-child(4) {
        a {
          @include icon-tabmenu($asset_icon_main_top);
        }
        @include tooltip('Display top links.');
      }
      li:nth-child(5) {
        a {
          @include icon-tabmenu($asset_icon_main_cntrv);
        }
        @include tooltip('Display controversial links.');
      }
      li:nth-child(6) {
        a {
          @include icon-tabmenu($asset_icon_main_glided);
        }
        @include tooltip('Display glided comments.');
      }
      // Wiki
      li:nth-child(7) {
        // Separate wiki button with 2 units of padding.
        margin-left: $tabmenu-pad;
      }
      // Hide promoted, it's not like the admins allow any promoted links here anyway.
      li:nth-child(8) {
        display: none;
      }
    }
  }
}

// Move user box up into subreddit area to get it out of the way.
#header-bottom-right {
  @include reset-box;
  position: absolute;
  top: 0px;
  height: $srarea-height;
  padding: 0px 4px 0px 4px;
  @include reddit-srarea;
  a, span {
    @include reddit-srarea;
  }
  border-style: solid;
  border-width: 0px 0px 0px 1px;
}

* {
  // Nuke modified letter spacing that makes text unreadable.
  letter-spacing: 0px !important;
}

body {
  // We don't support smaller resolutions than 800x600.
  // This is the limitations of the design/layout. One does not simply make a CSS Theme that magically
  // makes a site responsive. You have to build the site from the ground up for that.
  min-width: 800px;

  // Prevent absolute positioning from leaking to the window.
  position: relative;

  // Default reddit font (Verdana) makes your eyes bleed.
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-size: $font-size-focus;
  line-height: normal;
  color: $color-focus-fg;

  // Background texture.
  background-image: url($asset_texture);
  background-repeat: repeat;
  background-color: #151515;
  background-size: 40%;

  html[lang*='nm'] & {
    background-image: none;
    background-color: #000;
  }
}

div.side {
  margin: 0px;
  padding: $sidebar-padding;
  width: $sidebar-inner-width;
  @include focus-bg;
  font-size: $font-size-focus;
  @include main-box-shadow;

  // Remove ugly borders.
  .sidecontentbox .content {
    border-style: none;
  }

  // Remove ugly hr lines but keep them as separators.
  hr {
    background: transparent;
  }

  // Consistent headers with markdown.
  h1 {
    font-size: $side_header_font_size;
    color: $side_header_color;
  }

  &::before {
    // We utilize the first spacer to move sidebar into header since
    // this is a waste of space otherwise and it helps clip Vivian.
    display: block;
    @include focus-bg;
    margin-top: -$tabmenu-height - $sidebar-padding;
    margin-bottom: -$tabmenu-height + $sidebar-padding;
    margin-left: -$sidebar-padding;
    padding-left: $sidebar-padding;
    padding-right: $sidebar-padding;
    width: $sidebar-inner-width;
    height: $tabmenu-height;
    content: '';
  }

  // Style for sidebar spacers and the content inside those spacers.
  // The content of spacers varies depending on page/user etc and the order
  // cannot be trusted, but we try to list the style rules for spacers in
  // approximately the same order they usually appear in the sidebar for readability.
  div.spacer {
    // Make spacers insignificant so we can work with the content inside them.
    display: block;
    margin: 0;
    padding: 0;

    // Search. Move into header.
    @at-root form#search {
      position: absolute;
      $search-width: 200px;
      width: $search-width;
      top: ($sidebar-top / 2) - 10px;
      right: ($sidebar-inner-width + $sidebar-padding - $search-width);
      padding-left: 20px;
      z-index: 1;

      input[type=text] {
        border-radius: 10px;
        width: $search-width;
        @include focus;
      }
      #searchexpando {
        @include focus-box;
      }
    }

    // We convert this to a nice button instead of ugly arrow.
    @at-root div.submit-link div.morelink {
      border-style: none;
      background-image: none;
      background-color: transparent;
      text-align: inherit;
      width: 100%;
      height: auto;
      margin-bottom: $sidebar-padding;

      a {
        @include btn-primary;
        @include big-sidebar-btn;
        font-size: $font-size-btn;

        &::after {
          content: ' or post';
        }
      }
      div.nub {
        display: none;
      }
    }

    .subButtons {
      html.res & {
        padding-top: .5em;
      }
    }

    .subscribers {
      html.res & {
        margin-top: .75em;
      }
    }

    // Hide text submit. We used combined button.
    div.submit-text {
      display: none;
    }

    // Link information in comment thread.
    div.linkinfo {
      @include focus-box;
      margin-bottom: $sidebar-padding;
      padding: $sidebar-padding;

      * {
        @include reset-text;
        font-size: $font-size-focus;
      }
      div.score {
        margin: $sidebar-padding 0px;
        span {
          font-size: $font-size-focus * 2;
        }
      }
      div.shortlink {
        font-size: 9px;
        input {
          font-size: $font-size-focus;
          border-width: 0px;
          background-color: transparent;
          padding: 0px;
        }
      }
    }

    // General sidebar content.
    > div.titlebox {
      h1.redditname {
        // Just takes up space. People know this is KotakuInAction.
        display: none;
      }
      // Subscribe button.
      @at-root span.subscribe-button.fancy-toggle-button {
        display: block;
        margin: 0px;
        margin-bottom: $sidebar-padding;

        > a.add {
          @include btn-success;
          @include big-sidebar-btn;
          font-size: 0px;

          &::before {
            content: 'Subscribe to /r/KotakuInAction';
            font-size: $font-size-btn;
          }

          body.subscriber & {
            display: none;
          }
        }
        > a.remove {
          @include btn-default;
          @include big-sidebar-btn;
          font-size: 0px;
          display: none;

          &::before {
            content: 'Unsubscribe from /r/KotakuInAction';
            font-size: $font-size-btn;
          }

          body.subscriber & {
            display: block;
          }
        }
      }
      // Subscribers counts.
      @at-root span.subscribers {
        @include font-focus;
        @include focus-box;
        display: block;
        padding: $sidebar-padding;
        margin: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
        span.number {
          body.subscriber &::before {
            display: block;
            margin-bottom: $sidebar-padding;
            content: 'You’re a subscriber!';
          }
          &::after {
            content: ' ethical violations.';
          }
        }
        span.word {
          display: none;
        }
      }
      @at-root p.users-online {
        @include font-focus;
        @include focus-box;
        display: block;
        padding: $sidebar-padding;
        margin: 0px;
        margin-bottom: $sidebar-padding;
        padding-top: 0px;
        border-top: 0px;
        &::before {
          // Hide ugly green circle.
          display: none;
        }
        span.number {
          &::after {
            content: ' navy sealions here, kiddo.';
          }
        }
        .word {
          display: none;
        }
      }
      // Entering custom sidebar markdown.
      form.usertext > div.usertext-body > div.md {
        margin-bottom: $sidebar-padding;
      }
      // Created by etc.
      div.bottom {
        @include reset-text;
        @include focus-box;
        font-size: $font-size-blur;
        margin-bottom: $sidebar-padding;
        padding: $sidebar-padding;
      }

      // Other sidebar junk and random HTML reddit injects where we just want to reset as much as possible
      // because it looks nasty. Hide ugly icons, etc.
      > div.leavemoderator, > form.leavecontributor-button, > form.flairtoggle {
        background-color: transparent;
        @include reset-text;
        @include font-blur;

        color: $color-focus-fg;
        font-size: $font-size-blur;
        padding: 0px $sidebar-padding;
        margin: 0px;
        margin-bottom: $sidebar-padding;
        &::before {
          display: none;
        }
      }
      // Flair configuration in a virtual box. These are two elements because someone at reddit.com should be fired.
      > form.flairtoggle {
        @include focus-box;
        font-size: $font-size-blur;
        padding: $sidebar-padding;
        margin: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;

        + div.tagline {
          @include focus-box;
          padding: $sidebar-padding;
          border-top: 0px;
          display: block;
          margin: 0px;
          margin-bottom: $sidebar-padding;
        }
      }
    }

    // The second last sidebar content should always be "RECENTLY VIEWED LINKS".
    // Remove it as almost nobody is interested in it and it's just more clutter.
    &:nth-last-child(2) {
      display: none;
    }
  }

  // Style all sidecontent boxes focus boxes.
  div.sidecontentbox {
    @include focus-box;
    @include font-focus;
    padding: $sidebar-padding;
    margin-bottom: $sidebar-padding;

    // Style message moderators as a button.
    a.helplink[href^="/message/compose?to"] {
      @include btn-primary;
      @include big-sidebar-btn;
      margin: 0px;
      margin-bottom: $sidebar-padding;
      display: block;
      width: auto;
      float: none;
      font-size: 0px;

      &::before {
        content: 'Message the KiA Moderators';
        font-size: $font-size-btn;
      }
    }
  }

  // Compress moderation tools.
  div.sidecontentbox#moderation_tools {
    li {
      font-size: $font-size-blur;
      background-color: transparent;
      position: relative;
      a {
        @include btn-default;
        display: block;
        width: auto;
        text-align: left;
        margin-left: 30px;
        &::before {
          position: absolute;
          margin-right: -16px;
          left: 0px;
        }
      }
    }
  }

  div.account-activity-box {
    margin-bottom: $sidebar-padding;
  }

  // Hide create your own subreddit, not interesting to 99% of users.
  // There are plenty of ways to find this button.
  div.create {
    display: none;
  }
}

// Side markdown.
div.side div.md {
  @include font-focus;

  ul {
    padding-left: 20px;
  }

  h1 {
    font-size: $side_header_font_size;
    color: $side_header_color;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  // Blockquotes on first level is used as boxes and should have no padding.
  > blockquote {
    padding: 0px;
  }

  // Hr's on first level is just used to separate blockquotes and should have no effect.
  > hr {
    margin: 0px;
    margin-bottom: $sidebar-padding;
  }

  // #1: FIRST BLOCKQUOTE with ul list is dropdown of filters.
  // Move the dropdown list to top bar next to 'wiki'.
  blockquote:nth-child(1) {
    @include reset-box;
    position: absolute;
    z-index: 1000;
    border: none;
    top: ($sidebar-top + $tabmenu-pad);
    left: $left-gutter-width;
    width: $tabmenu-tag-filter-btn-width;

    ul {
      @include reset-box;

      &:hover > li {
        display: block;
      }
      > li {
        display: block;
      }
      > li:first-child {
        @include btn-primary;
        width: $tabmenu-tag-filter-btn-width - $btn-padding * 2;
      }
      > li + li {
        display: none;
        padding: 4px 5px;
        margin: 0px;
        width: 90%;
        border: 0px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        text-align: center;

        @include focus-fill;

        &:hover {
          @include focus-fill3;
        }
        a {
          @include nm-low-opacity;
        }
        a[href$=uv] {
          @include std-link-flair($tag_color_unverified);
        }
        a[href$=ru] {
          @include std-link-flair($tag_color_rumor);
        }
        a[href$=vf] {
          @include std-link-flair($tag_color_verified);
        }
        a[href$=pe] {
          @include std-link-flair($tag_color_people);
        }
        a[href$=ha] {
          @include std-link-flair($tag_color_happenings);
        }
        a[href$=id] {
          @include std-link-flair($tag_color_ideas);
        }
        a[href$=bc] {
          @include std-link-flair($tag_color_goal);
        }
        a[href$=ed] {
          @include std-link-flair($tag_color_editorial);
        }
        a[href$=mt] {
          @include std-link-flair($tag_color_meta);
        }
        a[href$=dr] {
          @include std-link-flair($tag_color_drama);
        }
        a[href$=hu] {
          @include std-link-flair($tag_color_humor);
        }
        a[href$=st] {
          @include showerthought-flair;
        }
        a[href$=ds] {
          @include std-link-flair($tag_color_discussion);
        }
        a[href$=ot] {
          @include std-link-flair($tag_color_off_topic);
        }
        a[href$=et] {
          @include std-link-flair($tag_color_ethics);
        }
        a[href$=in] {
          @include std-link-flair($tag_color_industry);
        }
      }
      > li:nth-child(2) {
        border-radius: 4px 4px 0px 0px;
        padding-top: 8px;
      }
      > li:last-child {
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 8px;
      }
    }

    // Day/night mode selection.
    h1 {
      @include reset-box;
      font-size: 0px;
      overflow: visible;

      position: absolute;
      z-index: 1000;
      top: 0px;
      left: $tabmenu-tag-filter-btn-width + $sidebar-padding;

      a {
        @include reset-box;
        @include btn-primary;
        font-size: 0px;
        overflow: visible;
      }
      a[href$='#nm'] {
        @include icon-tabmenu-custom($asset_nm_moon);
        @include tooltip('Enable night mode.');
        display: block;
        html[lang*='nm'] & {
          display: none;
        }
      }
      a[href$='#dm'] {
        @include icon-tabmenu-custom($asset_nm_sun);
        @include tooltip('Enable day mode.');
        display: none;
        html[lang*=nm] & {
          display: block;
        }
      }
    }
  }

  // #2: Blockquote divider.
  hr:nth-child(2) {
    display: none;
  }

  // #3: Linkbar.
  blockquote:nth-child(3) {
    display: block;
    position: absolute;
    z-index: 1000;
    border: none;
    margin: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;

    height: $linkbar-height;
    top: $linkbar-top;
    left: $left-gutter-width;
    right: 0px;
    color: #aaa;
    font-weight: normal;

    @include nm-low-opacity;

    a {
      color: #fff;
      font-weight: normal;
    }
  }

  // #4: Blockquote divider.
  hr:nth-child(4) {
    display: none;
  }

  // Rest of blockquotes are focus box elements.
  blockquote:nth-child(n+5) {
    @include focus-box;
    margin: 0px;
    padding: $sidebar-padding;

    > *:first-child {
      margin-top: 0px;
    }
  }
}

div.content[role=main] {
  @include reset-box;
  @include focus-bg;
  padding: $sidebar-padding;
  padding-right: 0px;
  float: none;
  position: relative;
  width: auto;
  z-index: 100;
  @include main-box-shadow;

  // Prevent floating content from escaping.
  overflow: hidden;

  > div.commentarea {
    @include focus-box;

    // RES screws with child comment background color.
    html[lang*='nm'] & {
      .comment {
        border-color: nm_darken(#666) !important;
      }
      .comment .comment {
        background-color: darken($color-focus-fill, 85%) !important;
      }

      .RES-keyNav-activeElement .md,
      .RES-keyNav-activeElement.entry .noncollapsed {
        background-color: transparent !important;
      }

      .new-comment .usertext-body {
        background-color: nm_darken(#666);
      }
    }

    .new-comment .usertext-body {
      margin: 5px 0;
      padding: 0 8px;
    }

    @at-root .comments-page {
      .entry .usertext-body > div.md, .usertext-body > div.md {
        font-size: 14px;
      }
    }
  }

  // Disable all framing for usertext body for cleaner look. Less is more.
  .link .usertext-body .md {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }

  > div#siteTable {
    > div.thing.even {
      @include focus-fill2
    }
    > div.thing {
      @include focus-box;
      padding: $sidebar-padding;
      margin: 0px;
      margin-bottom: -1px;

      > .rank {
        // Hide link rank. For 99% of users this information is useless.
        display: none;
      }
      > .midcol {
        // We want to assign the midcol a width that aligns the right content with the left gutter.
        width: $left-gutter-width - $sidebar-padding;
        margin: 0px 0px 0px 0px;
        margin-left: -$sidebar-padding;

        > div {
          margin: auto;
        }
      }
      > div.entry {
        margin: 0px;
        > p.title {
          @include content-title;
        }
      }
    }
  }

  // Comment page.
  > div.commentarea {
    padding: $sidebar-padding;

    > * {
      margin-left: 0px;
    }

    > div.panestack-title {
      display: inline;
      border-style: none;
      margin: 0px;
      padding-right: 15px;
      span {
        @include font-focus;
      }
    }

    > div.menuarea {
      display: inline;
      margin: 0px;
      > *, form {
        display: inline;
      }
      .spacer {
        margin: 0px;
      }
      .dropdown {
        // Lol reddit bugfix.
        cursor: pointer;
      }
      span, a {
        @include font-focus;
      }
      a {
        text-decoration: underline;
      }
      + * {
        margin-top: $sidebar-padding;
      }
    }

    @at-root form.usertext {
      textarea {
        @include focus-box;
        @include form-field-box;
        background-image: url($asset_comment);
        background-repeat: no-repeat;
        background-size: auto 100px;
        background-position: bottom left;
        html[lang*='nm'] & {
          background-image: url($asset_comment_nm);
        }
        html[lang*='nm'] &:focus, &:focus {
          background-image: none;
        }
      }
      button.save {
        @include btn-primary;
        @include btn-sm;
      }
      button.cancel {
        @include btn-default;
        @include btn-sm;
      }
    }

    > .comment-visits-box {
      @include focus-box;
      background-color: $color-focus-fill2;
      border-radius: 0px;
    }

    > div.sitetable.nestedlisting > .thing {
      // More compact root comments.
      margin-left: 0px;
      .child {
        @include focus-box;
        border: 0px solid;
        border-left: 1px solid $color-focus-border;

        html[lang*='nm'] & {
          border-color: nm_darken(#aaa);
        }

      }

      form.usertext {
        margin-bottom: $sidebar-padding;
      }
    }
  }

  // Submit page.
  body.submit-page & h1:first-child {
    display: none;
  }
  @at-root form.submit.content {
    @include reset-box;
    @include focus-box;
    padding: $sidebar-padding;

    ul.tabmenu {
      font-size: 0px;
      padding: 0px;
      a.choice {
        @include btn-primary;
      }
      li.selected a {
        @extend a:active;
      }
      a.link-button {
        font-size: 0px;
        &::before {
          content: 'Submit link';
          font-size: $font-size-btn;
        }
      }
      a.text-button {
        font-size: 0px;
        margin-left: $sidebar-padding;
        &::before {
          content: 'Text/self post';
          font-size: $font-size-btn;
        }
      }
    }
    div.spacer {
      @include reset-box;
      margin-bottom: $sidebar-padding;
      div, span {
        @include font-form-field;
      }
      #title-field, #url-field, #text-field, #reddit-field {
        span.title {
          font-weight: bold;
        }
      }
    }
    textarea, input[type=text], input[type=url] {
      @include focus-box;
      width: 100%;
      @include border-box;
      @include font-form-field;
      @include form-field-box;
    }
    div.infobar {
      @include reset-box;
    }
    div.roundfield {
      @include reset-box;

      div {
        @include reset-box;
      }
      div.roundfield-content {
        margin-top: 5px;
      }
    }
    span.title, span.gray, label {
      @include font-form-field;
    }
    // Remove suggested reddits, bloated distraction.
    div#suggested-reddits {
      display: none;
    }
    div#suggest-title button {
      @include btn-primary;
      @include btn-sm;
    }
    button[type=submit] {
      @include btn-success;
    }
    $submit-width: 600px;
    div.formtabs-content {
      margin-top: $sidebar-padding;
      border: 0px none transparent;
      padding: $sidebar-padding;
      margin-bottom: 0px;
      max-width: $submit-width;
      width: 100%;
      @include focus-box;
      @include focus-fill2;
      border-bottom-width: 0px;

      .spacer:first-child {
        &::after {
          @include font-form-field;
          content: 'When posting to /r/KotakuInAction: Your account MUST be older than 3 days. Please read the rules before posting. You can find the rules in the sidebar. Your post may be deleted automatically if it breaks one or more rules. When in doubt, message the moderators by using the button in the bottom of the sidebar.';
          display: block;
          margin: $sidebar-padding 0px;
        }
      }

      // Remove pointless "options" title above checkbox.
      .spacer:last-child span.title {
        display: none;
      }

      + div.info-notice {
        display: block;
        @include font-form-field;
        @include reset-box;
        @include focus-box;
        @include focus-fill2;
        padding: $sidebar-padding;
        max-width: $submit-width;
        width: 100%;
        border-top-width: 0px;
        border-bottom-width: 0px;
        padding-top: 0px;

        &::before {
          @include nm-low-opacity;
        }

        + input[name=resubmit] + div.spacer {
          max-width: $submit-width;
          width: 100%;
          @include reset-box;
          @include focus-box;
          @include focus-fill2;
          padding: $sidebar-padding;
          display: block;
          border-top-width: 0px;
        }
      }
    }
  }
}

// Hide filter by tag and other buttons on submit page to remove distractions and optimize funnel to submit.
body.submit-page div.side div.usertext-body div.md blockquote:first-child {
  display: none;
}

// Footer
.footer-parent {
  // Vivian search picture.
  // Placed here for low z-index.
  &::before {
    position: absolute;
    width: $sidebar-width;
    height: $sidebar-top;
    right: 0px;
    top: 0px;
    background-image: url($asset_vivian_search);
    background-size: $sidebar-top;
    background-repeat: no-repeat;
    background-position: bottom right;
    content: '';
    html[lang*='nm'] & {
      background-image: url($asset_vivian_night);
    }
  }

  // Tabmenu dark stripe.
  // Placed here because not all pages contain a tabmenu.
  &::after {
    position: absolute;
    display: block;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    top: $sidebar-top;
    right: 0px;
    left: 0px;
    height: $tabmenu-height;
    margin: 0px;
    padding: 0px;
    content: '';
    z-index: -1;
    html[lang*='nm'] & {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .footer {
    @include main-box-shadow;
    @include reddit-site;
    margin-bottom: 50px;
    a, span {
      @include reddit-site;
    }

    div.col {
      @include blur;
    }
  }
}

// Header gradient. Absolute last position in document to only affect background texture.
body::after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $srarea-height;
  z-index: -10000;
  @include box-shadow(0px, 0px, 150px, 20px, rgba(0, 0, 0, 0.5));
}
